<header class="row row-middle-md space-out-bottom-kilo-xs space-out-bottom-mega-lg">
    <div class="col-xs-12 col-md-shrink">
        <a class="logo link" href="/">
            <span class="logo-icon">
                <img srcset="
                    /i/logo.jpg 2x,
                    /i/logo.jpg 4x
                    " src="/i/logo.jpg" width="48" height="48" alt="Парковый 37а">
            </span>
            <span class="logo-txt">
                <span class="logo-name">Парковый 37А</span>
            </span>
        </a>
    </div>
    <div class="col-xs-12 col-md">
        <nav class="row space-in-left-kilo-xs space-in-left-micro-md">
            
            <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm" href="/about"><strong>О доме</strong> 🏢</a>
            <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm" href="/pokazania"><strong>Передать показания</strong></a>
            <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm" href="/ideas"><strong>Идеи по дому</strong> 💡</a>
            <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm" href="/faq"><strong>Вопросы и ответы</strong> 💬</a>
           <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm" href="https://gazeta.park37a.ru/"><strong>Газета 37</strong> 📝</a>
            <a class="link-novisited col-xs-12 col-sm-shrink space-in-bottom-nano-xs space-in-v-nano-sm space-auto-left-sm" href="/new-neighbor">Новым соседям 👋</a>
        </nav>
    </div>
</header>